html {
	overflow: scroll;
	overflow-x: hidden;
}
::-webkit-scrollbar {
	background: transparent; /* optional: just make scrollbar invisible */
}

div.container.text-center {
	margin-top: 50px;
}

div.btn-group {
	margin-top: 10px;
}
body.preload * {
	animation-duration: 0s !important;
	-webkit-animation-duration: 0s !important;
	transition: background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;
}

@keyframes cardani {
	0% {
		box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .0);
	}
	100% {
		box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
	}
}
@keyframes cardaniback {
	0% {
		box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
	}
	100% {
	}
}

div.card:hover {
	animation: cardani 0.3s 1 0s ease-in;
	animation-fill-mode: forwards;
	transition: 0.3s;
}
div.card:not(:hover) {
	animation: cardaniback 0.3s 1 0s ease-out;
	animation-fill-mode: forwards;
	transition: visibility 1s 1s;
}
body {

}

div.card {

}

.jumbotron {

}

hr {

}
#sticky-navbar {
	margin: 5px;
	border-radius: 10px;
	margin-right: -10px;
	background-color: #e9ecef;
}

h3.card-header {

	z-index: 2;
}

#crd {

}
/*
! Dark mode
*/

body.dark-mode {
	background-color: #111111;

}

.jumbotron.dark-mode {
	background-color: #212121;
	color: white;

}

hr.dark-mode {
	background-color: rgba(255, 255, 255, 0.7);

}

#sticky-navbar.dark-mode {
	margin: 5px;
	border-radius: 10px;
	margin-right: -10px;
	background-color: #3a3a3a3a;
}

div.card.dark-mode {
	background-color: #212121;
	color: white;
}

h3.card-header.dark-mode {
	
}

html.dark-mode,
html.dark-mode *,
html.dark-mode *:before,
html.dark-mode *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}

html,
html *,
html *:before,
html *:after {
  transition: all 300ms !important;
  transition-delay: 0 !important;
}
/* 
! End of dark mode 
*/
