html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    background: transparent;  /* optional: just make scrollbar invisible */
}

div.container.text-center{
    margin-top: 50px;
}

div.btn-group {
    margin-top: 10px;
}
body.preload *{
animation-duration: 0s !important;
-webkit-animation-duration: 0s !important;
transition:background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;}

@keyframes cardani {
    0%{
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.0);

    }
    100%{
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    }
}
@keyframes cardaniback {
    0%{
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);

    }
    100%{
        
    }
}

div.card:hover {
    animation: cardani 0.3s 1 0s ease-in;
    animation-fill-mode: forwards;
    transition: 0.3s;
}
div.card:not(:hover) {
    animation: cardaniback 0.3s 1 0s ease-out;
    animation-fill-mode: forwards;
    transition: visibility 1s 1s;
}
body{
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

div.card {
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.jumbotron {
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

hr {
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
#sticky-navbar {
    margin: 5px;
    border-radius: 10px;
    margin-right: -10px;
    background-color: #e9ecef;
}
/* Dark mode */
body.dark-mode {
    background-color: #111111;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.jumbotron.dark-mode {
    background-color: #212121;
    color: white;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

hr.dark-mode {
    background-color: rgba(255, 255, 255, 0.7);
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

#sticky-navbar.dark-mode {
    margin: 5px;
    border-radius: 10px;
    margin-right: -10px;
    background-color: #3a3a3a3a;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

div.card.dark-mode {
    background-color: #212121;
    color: white;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

h3.card-header.dark-mode {
    background-color: #161616;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
/* End of dark mode */